body {
	font-family: Century, Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 800px;
	margin: auto;
	padding-top: 35px;
}

p {
	font-size: 14px;
	color: #434342;
}

ul {
	float: left;
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

.general {
	width: 800px;
	float: left;
	position: relative;
}

.general h1,h2,h5 {
	text-align: center;
}

h5 {
	margin: 15px 359px;
	position: absolute;
	bottom: -150px;
}

.project {
	width: 800px;
	margin: 0 auto;
	float: left;
	padding-top: 40px;
}

.project_block img, .project_block input[type="image"] {
	float: left;
	padding: 7px;
}

.project_block span {
	float: left;
	padding: 7px;
}

.project_block {
	font-size: 16px;
	margin: 0 0 0 0;
	padding: 7px;
	width: 786px;
	float: left;
	color: #DADADA;
	background-color: #4473AF
}

.project_block:hover .project_toolbar {
	display: block;
}

.project_toolbar {
	float: right;
	padding: 5px 5px 0 0;
	display: none;
}

.project_input_text, .project_input_button {
	float: left;
	margin-top: 7px;
	display: none;
}

.add_task_block {
	width: 800px;
	background-color: #CFCFCF;
	float: left;
}

.add_task_block img {
	float: left;
	margin: 7px 7px 7px 12px;
}

.task_input_text {
	float: left;
	margin: 8px 8px 8px 7px;
	width: 250px;
	height: 18px;
}

.task_input_date {
	float: left;
	margin: 8px 8px 8px -7px;
}

.task_input_button {
	background-color: #76AD8E;
	color: white;
	margin: 8px 8px 8px 0px;
	height: 24px;
}

.task_block {
	width: 800px;
	float: left;
	border-bottom: 1px solid #E7EBEA;
}

.task_block:hover {
	background-color: #FCFED5;
}

.task_block:hover .task_toolbar {
	display: block;
}

.task_status {
	padding: 15px;
	float: left;
}

.task_name {
	width: 615px;
	border-left: 4px double #EFDADF;
	padding: 15px;
	float: left;
	border-right: 2px solid #E7EBEA;
}

.task_date_span {
	margin-left: 10px;
}

.task_name span {
	float: left;
}

.task_toolbar {
	float: right;
	margin-right: 19px;
	display: none;
}

.task_toolbar img, .task_toolbar input {
	float: left;
	margin: 17px 2px;
}

.task_edit_text, .task_edit_date, .task_edit_button {
	float: left;
	display: none;
}

.task_edit_text {
	height: 18px;
}

.task_edit_date {
	margin: 0px 8px 0px 1px;
}

.task_edit_button {
	height: 24px;
}

.create_todolist {
	margin: 0px 344px 0px 344px;
	height: 30px;
	background-color: #4473AF;
	font-weight: bold;
	color: #DADADA;
	position: absolute;
	bottom: -65px;
}

.add_todolist {
	margin: 0px 235px 30px 285px;
	position: absolute;
	bottom: -125px;
	display: none;
}

.device_general {
	width: 380px;
	margin: 140px auto;
	background: #87CEFA;
	padding: 25px;
}

.device_password_general {
	width: 380px;
	margin: 140px auto;
	background: #87CEFA;
	padding: 25px;
}

.field_email, .field_password, .field_remember, .field_email_passwrd {
	font-size: 25px;
	padding-bottom: 10px;
}

.field_email input, .field_password input, .field_email_passwrd input {
	font-size: 20px;
}

.field_email label {
	margin-left: 47px;
}

.field_email label, .field_password label {
	margin-right: 5px;
}

.actions {
	margin: 0px 0px 15px 0px;
}

.actions input {
	font-size: 23px;
}