body {
	font-family: Century, Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 800px;
	margin: auto;
	padding-top: 35px;
}

p {
	font-size: 14px;
	color: #434342;
}

ul {
	float: left;
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

.project {
	width: 800px;
	margin: 0 auto;
	float: left;
	padding-top: 40px;
}

.header {
	width: 800px;
	float: left;
}

.header h1,h2 {
	text-align: center;
}

.header_top img {
	float: left;
	padding: 7px;
}

.header_top span {
	float: left;
	padding: 7px;
}

.header_top {
	font-size: 16px;
	margin: 0 0 0 0;
	padding: 7px;
	width: 786px;
	float: left;
	color: #DADADA;
	background-color: #4473AF
}

.header_top:hover .del_edit {
	display: block;
}

.del_edit {
	float: right;
	padding: 5px 5px 0 0;
	display: none;
}

.header_bot {
	width: 800px;
	background-color: #CFCFCF;
	float: left;
}

.header_bot img {
	float: left;
	padding: 7px;
}

.header_bot input {
	margin-top: 7px;
}

.header_bot button {
	margin-left: -7px;
	width: 125px;
	background-color: #6CA384;
	color: #FFF;
	border-radius: 0 5px 5px 0;
	clear: both;
}

.task_line {
	width: 800px;
	float: left;
	border-bottom: 1px solid #E7EBEA;
}

.task_line:hover {
	background-color: #FCFED5;
}

.task_line:hover .edit_task {
	display: block;
}

.select_task {
	padding: 15px;
	float: left;
}

.name_task {
	width: 615px;
	border-left: 4px double #EFDADF;
	padding: 15px;
	float: left;
	border-right: 2px solid #E7EBEA;
}

.name_task p {
	margin: 0 0 0 0;
}

.edit_task {
	padding: 15px 25px 15px 15px;
	float: right;
	display: none;
}

.add_tl {
	margin: 30px 330px;
	float: left;
}

.add_tl button {
	background-color: #4473AF;
}

.add_tl span {
	font-weight: bold;
	color: #DADADA;
}