body {
	font-family: Century, Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 800px;
	margin: auto;
	padding-top: 35px;
}

p {
	font-size: 14px;
	color: #434342;
}

ul {
	float: left;
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

.general {
	width: 800px;
	float: left;
}

.general h1,h2 {
	text-align: center;
}

.project {
	width: 800px;
	margin: 0 auto;
	float: left;
	padding-top: 40px;
}

.project_block img {
	float: left;
	padding: 7px;
}

.project_block span {
	float: left;
	padding: 7px;
}

.project_block {
	font-size: 16px;
	margin: 0 0 0 0;
	padding: 7px;
	width: 786px;
	float: left;
	color: #DADADA;
	background-color: #4473AF
}

.project_block:hover .project_toolbar {
	display: block;
}

.project_toolbar {
	float: right;
	padding: 5px 5px 0 0;
	display: none;
}

.edit_project_img {
	cursor: pointer;
}

.edit_project {
	float: left;
	margin-top: 7px;
	display: none;
}

.add_task_block {
	width: 800px;
	background-color: #CFCFCF;
	float: left;
}

.add_task_block img {
	float: left;
	margin: 7px 7px 7px 12px;
}

.add_task_block input[type="text"] {
	float: left;
	margin: 8px 8px 8px 7px;
	width: 250px;
}

.add_task_block input[type="date"] {
	float: left;
	margin: 8px 8px 8px 7px;
}

.add_task_block input[type="submit"] {
	background-color: #76AD8E;
	color: white;
	margin: 8px;
}

.task_block {
	width: 800px;
	float: left;
	border-bottom: 1px solid #E7EBEA;
}

.task_block:hover {
	background-color: #FCFED5;
}

.task_block:hover .task_toolbar {
	display: block;
}

.task_status {
	padding: 15px;
	float: left;
}

.task_name {
	width: 615px;
	border-left: 4px double #EFDADF;
	padding: 15px;
	float: left;
	border-right: 2px solid #E7EBEA;
}

.task_name p {
	margin: 0 0 0 0;
}

.task_name span {
	float: left;
}

.task_toolbar {
	padding: 15px 25px 15px 15px;
	float: right;
	display: none;
}

.edit_task {
	float: left;
	display: none;
}

.edit_task_img_hover {
	cursor: pointer;
}

.add_todo_list {
	margin: 30px 330px;
	float: left;
}

.add_todo_list button {
	background-color: #4473AF;
}

.add_todo_list span {
	font-weight: bold;
	color: #DADADA;
}